body {
    font-family: Arial, sans-serif;
}

#banner {
    width: 80%;
    margin: auto; /* Center the banner */
    border-radius: 15px; /* Add rounded corners */
    overflow: hidden; /* Hide overflowing content */
    position: relative;
}

#banner img {
    width: 100%;
    height: auto;
    border-radius: 50px; /* Add rounded corners to the image */
    display: block;
}

#voteNowButton {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    width: 20%;
    cursor: pointer;
    background-color: #4CAF50;
    font-size: medium;
    color: white;
    border: none;
    border-radius: 4px;
}

#voteBtt, #resBtt, #adminBtt {
    width: 20%;
    padding: 15px;
    cursor: pointer;
    background-color: #4CAF50;
    font-size: medium;
    color: white;
    border: none;
    border-radius: 4px;
}

.btt button {
    margin-right: 10px; /* Adjust the margin as needed */
}

#logo {
    display: flex;
    margin-left: 20px;
}

#logo h1 {
    font-size: 30px;
    color: #004AAD;
    margin-left: 10px;
    bottom: 0;
    text-decoration: underline;
}

.acc {
    margin-left: 30%;
    font-weight: bold;
}

h1 {
    margin-left: 5%;
    color: #004AAD;
}

h2 {
    text-align: center;
}

#candidatesList {
    list-style-type: disc;
    margin-left: 40%;
}

#candidates, #results, #voteSection, #adminSection {

    width: 60%;
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
}

#results, #adminSection {
    display: none;
}

#voteSection {
    margin: 20px auto;
    display: none; /* Hide initially */
}

.btt {
    display: flex;
    margin-left: 36%;
}

#adminBtt {
    margin-left: 40%;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 30%;
    padding: 8px;
    box-sizing: border-box;
    margin-left: 30%;
}

#voteSection button, #adminSection button {
    padding: 10px;
    width: 130px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-right: 20px;
}

#navbar a {
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
    color: #004AAD;
    text-decoration: none;
    font-weight: bold;
}

#navbar a:hover {
    text-decoration: underline;
}

hr {
   color: grey;
   opacity: 0.3; 
}